#header_bar {
    border-bottom-color: #111;
}

#notebook {
    border: 0;
}

#status_bar {
    border-top: 1px solid #181818;
    padding: 6px;
}

#open_button > box > button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#open_button > box > button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0;
}

#tab_bar .tab_label:first-child {
    padding-left: 10px;
}

#tab_bar .tab_label:last-child {
    border-right: 0;
}

#tab_bar .tab_label {
    padding-left: 10px;
    padding-right: 5px;
    border-right: 1px solid black;
}

#tab_bar .tab_label .tab_label_button {
    padding: 0;
}

#tab_bar .tab_label .tab_close_button {
    padding: 0;
    margin: 0 0 0 4px;
    min-width: 20px;
    min-height: 20px;
}

#tab_bar .tab_label.selected {
    box-shadow: inset 0 -4px #15539e;
}

#tab_bar .tab_label.hover:not(.selected) {
    color: #eeeeec;
    background-color: #2b2b2b;
    box-shadow: inset 0 -4px #1b1b1b;
}

#tab_bar {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
